@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap");

/* font-family: 'Noto Sans SC', sans-serif; */

* {
  font-family: "Noto Sans SC", sans-serif;
}

body {
  background: rgb(45, 217, 253);
  background: linear-gradient(
      104deg,
      rgba(45, 217, 253, 1) 14%,
      rgba(200, 242, 251, 1) 95%
    )
    fixed; /* fixed: to gradient over entire page*/
}



.test1 {
  border: 2px solid orangered;
}
.test2 {
  border: 2px solid lime;
}
.test3 {
  border: 2px solid royalblue;
}
.test4 {
  border: 2px solid red;
  padding-left: 0;
}



.trash {
  background-color: red;
  color: white;
  margin-left: 0;
  margin-right: 1rem;
  padding: 0.7em;
}

#newtask {
  border: none;
}
#newtask:focus {
  outline: none;
}

.completed {
  color: rgb(128, 128, 128);
  text-decoration: line-through;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  .col,
  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
