@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap");

/* font-family: 'Noto Sans SC', sans-serif; */

* {
  font-family: "Noto Sans SC", sans-serif;
}

body {
  /* background: rgb(34, 77, 195); */

  background: rgb(45, 217, 253);
  background: linear-gradient(
      104deg,
      rgba(45, 217, 253, 1) 14%,
      rgba(200, 242, 251, 1) 95%
    )
    fixed; /* fixed: to gradient over entire page*/
}
